{% extends 'MyAppUserBundle::layout.html.twig' %}


{% block body %}
    <div class="careplus-banner">

        <!--// Slider \\-->
        <div class="careplus-banner-one">
            <div class="careplus-banner-one-layer">
                <img src="{{ asset('extra-images/banner-1.jpg') }}" alt="">
                <span class="careplus-transparent"></span>
                <div class="careplus-banner-caption">
                    <span class="careplus-transparent-shape"></span>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="careplus-banner-wrap">
                                    <h1><span>You Can’t</span>Always Be There<span>But We CAn</span></h1>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed entum nulla, eu placerat felis. Etiam tincidunt orci lacus is dolor fermentum sit amet.</p>
                                    <div class="clearfix"></div>
                                    <a href="404.html" class="careplus-banner-btn">Read More <span></span></a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="careplus-banner-one-layer">
                <img src="{{asset ('extra-images/banner-2.jpg') }}" alt="">
                <span class="careplus-transparent"></span>
                <div class="careplus-banner-caption">
                    <span class="careplus-transparent-shape"></span>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="careplus-banner-wrap">
                                    <h1><span>You Can’t</span>Always Be There<span>But We CAn</span></h1>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed entum nulla, eu placerat felis. Etiam tincidunt orci lacus is dolor fermentum sit amet.</p>
                                    <div class="clearfix"></div>
                                    <a href="404.html" class="careplus-banner-btn">Read More <span></span></a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--// Slider \\-->

    </div>
    <!--// Main Banner \\-->

    <!--// Main Content \\-->
    <div class="careplus-main-content">

        <!--// Main Section \\-->
        <div class="careplus-main-section careplus-services-full">
            <div class="container">
                <div class="row">

                    <div class="col-md-12">
                        <div class="careplus-fancy-title">
                            <h2>Medical Services</h2>
                            <span><small></small><i class="icon-tool5"></i></span>
                        </div>
                        <div class="careplus-service careplus-service-grid">
                            <ul class="row">
                                <li class="col-md-3">
                                    <div class="careplus-service-wrap">
                                        <i class="icon-medical3"></i>
                                        <h5>Intensive Care</h5>
                                        <p>Lorem ipsum dolor sit amet, co nsectetur adipiscing elit.</p>
                                    </div>
                                </li>
                                <li class="col-md-3">
                                    <div class="careplus-service-wrap">
                                        <i class=" icon-tool5"></i>
                                        <h5>General Medicine</h5>
                                        <p>Lorem ipsum dolor sit amet, co nsectetur adipiscing elit.</p>
                                    </div>
                                </li>
                                <li class="col-md-3">
                                    <div class="careplus-service-wrap">
                                        <i class="icon-medical-1"></i>
                                        <h5>Medical Research</h5>
                                        <p>Lorem ipsum dolor sit amet, co nsectetur adipiscing elit.</p>
                                    </div>
                                </li>
                                <li class="col-md-3">
                                    <div class="careplus-service-wrap">
                                        <i class=" icon-ribbon"></i>
                                        <h5>Intensive Care</h5>
                                        <p>Lorem ipsum dolor sit amet, co nsectetur adipiscing elit.</p>
                                    </div>
                                </li>
                                <li class="col-md-3">
                                    <div class="careplus-service-wrap">
                                        <i class="icon-interface5"></i>
                                        <h5>Cognitive therap</h5>
                                        <p>Lorem ipsum dolor sit amet, co nsectetur adipiscing elit.</p>
                                    </div>
                                </li>
                                <li class="col-md-3">
                                    <div class="careplus-service-wrap">
                                        <i class="icon-luxury"></i>
                                        <h5>Peace of mind</h5>
                                        <p>Lorem ipsum dolor sit amet, co nsectetur adipiscing elit.</p>
                                    </div>
                                </li>
                                <li class="col-md-3">
                                    <div class="careplus-service-wrap">
                                        <i class="icon-app"></i>
                                        <h5>Available 24/7</h5>
                                        <p>Lorem ipsum dolor sit amet, co nsectetur adipiscing elit.</p>
                                    </div>
                                </li>
                                <li class="col-md-3">
                                    <div class="careplus-service-wrap">
                                        <i class="icon-medical-2"></i>
                                        <h5>ICU Department</h5>
                                        <p>Lorem ipsum dolor sit amet, co nsectetur adipiscing elit.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--// Main Section \\-->

        <!--// Main Section \\-->
        <div class="careplus-main-section careplus-blog-modern-full">
            <div class="container">
                <div class="row">

                    <div class="col-md-12">
                        <div class="careplus-fancy-title">
                            <h2>Latest News</h2>
                            <span><small></small><i class="icon-tool5"></i></span>
                        </div>
                        <div class="careplus-blog careplus-blog-modern">
                            <ul class="row">
                                <li class="col-md-4">
                                    <figure><a href="blog-detail.html"><img src="{{asset ('extra-images/blog-modern-img1.jpg') }}" alt=""><span><i class="fa fa-link"></i><small></small></span></a>
                                        <time datetime="2008-02-14 20:00">21 AUG</time>
                                    </figure>
                                    <div class="careplus-blog-modern-text">
                                        <h5><a href="blog-detail.html">How To Build a Long Distance Care Team</a></h5>
                                        <p>Lorem ipsum dolor sit amet, constetur ad iscing elit. Sed et elementum nua, eu pla at felis. Etiam tincidunt orci lacus.</p>
                                        <a href="blog-detail.html" class="careplus-readmore-btn">Read More <span></span></a>
                                    </div>
                                </li>
                                <li class="col-md-4">
                                    <figure><a href="blog-detail.html"><img src="{{asset ('extra-images/blog-modern-img2.jpg') }}" alt=""><span><i class="fa fa-link"></i><small></small></span></a>
                                        <time datetime="2008-02-14 20:00">21 AUG</time>
                                    </figure>
                                    <div class="careplus-blog-modern-text">
                                        <h5><a href="blog-detail.html">How To Build a Long Distance Care Team</a></h5>
                                        <p>Lorem ipsum dolor sit amet, constetur ad iscing elit. Sed et elementum nua, eu pla at felis. Etiam tincidunt orci lacus.</p>
                                        <a href="blog-detail.html" class="careplus-readmore-btn">Read More <span></span></a>
                                    </div>
                                </li>
                                <li class="col-md-4">
                                    <figure><a href="blog-detail.html"><img src="{{asset ('extra-images/blog-modern-img3.jpg') }}" alt=""><span><i class="fa fa-link"></i><small></small></span></a>
                                        <time datetime="2008-02-14 20:00">21 AUG</time>
                                    </figure>
                                    <div class="careplus-blog-modern-text">
                                        <h5><a href="blog-detail.html">How To Build a Long Distance Care Team</a></h5>
                                        <p>Lorem ipsum dolor sit amet, constetur ad iscing elit. Sed et elementum nua, eu pla at felis. Etiam tincidunt orci lacus.</p>
                                        <a href="blog-detail.html" class="careplus-readmore-btn">Read More <span></span></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--// Main Section \\-->

        <!--// Main Section \\-->
        <div class="careplus-main-section careplus-section-postfull">
            <span class="careplus-transparent-shape"></span>
            <div class="container">
                <div class="row">

                    <div class="col-md-8">
                        <div class="careplus-content-post-title">
                            <h2>WellCome To Our Care Plus</h2>
                            <span><i class="icon-tool5"></i></span>
                        </div>
                        <div class="careplus-content-post">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et elementum nulla, eu placerat felis. Etiam tin cidunt orci lacus, id varius dolor fermentum sit amet. Morbi consectetur ante odio, at vestibulum nibh fri ngilla id In porttitor nunc at leo porttitor mattis.</p>
                            <ul class="careplus-post-list">
                                <li>
                                    <i class="icon-medical3"></i>
                                    Aliquam in elit vel eros tincidunt pulvinar sit amet eu justo. Nulla facilisi.
                                </li>
                                <li>
                                    <i class="icon-medical-1"></i>
                                    Pellentesque vitae tortor vel sem pulvin areui smod. Cras congue blandit.
                                </li>
                                <li>
                                    <i class="icon-ribbon"></i>
                                    Nunc ut volutpat ex. Morbi risus elit, matti mi nec, mollis blandit erat.
                                </li>
                                <li>
                                    <i class="icon-tool5"></i>
                                    In eget aliquam odio. Quisque sodales er osac dui tristique condimentum.
                                </li>
                            </ul>
                            <a href="404.html" class="careplus-readmore-btn">Learn More <span></span></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--// Main Section \\-->

        <!--// Main Section \\-->
        <div class="careplus-main-section careplus-team-mediumfull">
            <div class="container">
                <div class="row">

                    <div class="col-md-12">
                        <div class="careplus-fancy-title">
                            <h2>Meet Our Specialists</h2>
                            <span><small></small><i class="icon-tool5"></i></span>
                        </div>
                        <div class="careplus-team careplus-team-medium">
                            <ul class="row">
                                <li class="col-md-3">
                                    <figure><a href="team-detail.html"><img src="{{asset ('extra-images/team-medium-img1.jpg') }}" alt=""></a>
                                        <figcaption>
                                            <div class="careplus-team-medium-info">
                                                <h5><a href="team-detail.html">Dr. Alex Cermak</a></h5>
                                                <span>Dental Hygienist</span>
                                            </div>
                                            <div class="careplus-team-medium-text">
                                                <h5><a href="team-detail.html">Dr. Alex Cermak</a></h5>
                                                <span>Dental Hygienist</span>
                                                <p>Lorem ipsum dolor sit ameta ectetur adipiscing elit. Sed ementum nulla, eu pla</p>
                                                <ul class="careplus-team-social">
                                                    <li><a href="https://www.facebook.com/" class="fa fa-facebook-square"></a></li>
                                                    <li><a href="https://twitter.com/login" class="fa fa-twitter-square"></a></li>
                                                    <li><a href="https://pk.linkedin.com/" class="fa fa-linkedin-square"></a></li>
                                                    <li><a href="https://plus.google.com/" class="fa fa-google-plus-square"></a></li>
                                                </ul>
                                                <a href="404.html" class="careplus-readmore-btn">read more <span></span></a>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li class="col-md-3">
                                    <figure><a href="team-detail.html"><img src="{{asset ('extra-images/team-medium-img2.jpg') }}" alt=""></a>
                                        <figcaption>
                                            <div class="careplus-team-medium-info">
                                                <h5><a href="team-detail.html">Dr. Frank Roony</a></h5>
                                                <span>Clinic Manager</span>
                                            </div>
                                            <div class="careplus-team-medium-text">
                                                <h5><a href="team-detail.html">Dr. Frank Roony</a></h5>
                                                <span>Clinic Manager</span>
                                                <p>Lorem ipsum dolor sit ameta ectetur adipiscing elit. Sed ementum nulla, eu pla</p>
                                                <ul class="careplus-team-social">
                                                    <li><a href="https://www.facebook.com/" class="fa fa-facebook-square"></a></li>
                                                    <li><a href="https://twitter.com/login" class="fa fa-twitter-square"></a></li>
                                                    <li><a href="https://pk.linkedin.com/" class="fa fa-linkedin-square"></a></li>
                                                    <li><a href="https://plus.google.com/" class="fa fa-google-plus-square"></a></li>
                                                </ul>
                                                <a href="404.html" class="careplus-readmore-btn">read more <span></span></a>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li class="col-md-3">
                                    <figure><a href="team-detail.html"><img src="{{asset ('extra-images/team-medium-img3.jpg') }}" alt=""></a>
                                        <figcaption>
                                            <div class="careplus-team-medium-info">
                                                <h5><a href="team-detail.html">Dr. Edwin Spindrift</a></h5>
                                                <span>Dental Hygienist</span>
                                            </div>
                                            <div class="careplus-team-medium-text">
                                                <h5><a href="team-detail.html">Dr. Edwin Spindrift</a></h5>
                                                <span>Dental Hygienist</span>
                                                <p>Lorem ipsum dolor sit ameta ectetur adipiscing elit. Sed ementum nulla, eu pla</p>
                                                <ul class="careplus-team-social">
                                                    <li><a href="https://www.facebook.com/" class="fa fa-facebook-square"></a></li>
                                                    <li><a href="https://twitter.com/login" class="fa fa-twitter-square"></a></li>
                                                    <li><a href="https://pk.linkedin.com/" class="fa fa-linkedin-square"></a></li>
                                                    <li><a href="https://plus.google.com/" class="fa fa-google-plus-square"></a></li>
                                                </ul>
                                                <a href="404.html" class="careplus-readmore-btn">read more <span></span></a>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li class="col-md-3">
                                    <figure><a href="team-detail.html"><img src="{{asset ('extra-images/team-medium-img4.jpg') }}" alt=""></a>
                                        <figcaption>
                                            <div class="careplus-team-medium-info">
                                                <h5><a href="team-detail.html">Dr. Leslie Gross</a></h5>
                                                <span>Surgery Specialist</span>
                                            </div>
                                            <div class="careplus-team-medium-text">
                                                <h5><a href="team-detail.html">Dr. Leslie Gross</a></h5>
                                                <span>Surgery Specialist</span>
                                                <p>Lorem ipsum dolor sit ameta ectetur adipiscing elit. Sed ementum nulla, eu pla</p>
                                                <ul class="careplus-team-social">
                                                    <li><a href="https://www.facebook.com/" class="fa fa-facebook-square"></a></li>
                                                    <li><a href="https://twitter.com/login" class="fa fa-twitter-square"></a></li>
                                                    <li><a href="https://pk.linkedin.com/" class="fa fa-linkedin-square"></a></li>
                                                    <li><a href="https://plus.google.com/" class="fa fa-google-plus-square"></a></li>
                                                </ul>
                                                <a href="404.html" class="careplus-readmore-btn">read more <span></span></a>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--// Main Section \\-->

        <!--// Main Section \\-->
        <div class="careplus-main-section careplus-gallery-full">
            <div class="container">
                <div class="row">

                    <div class="col-md-12">
                        <div class="careplus-fancy-title">
                            <h2>Our Gallery</h2>
                            <span><small></small><i class="icon-tool5"></i></span>
                        </div>
                        <div class="careplus-gallery-filterable">
                            <ul class="filters-button-group">
                                <li><a data-filter="*" class="is-checked" href="javascript:void(0)">All Cetagories</a></li>
                                <li><a data-filter=".pediatrics" href="javascript:void(0)">Pediatrics</a></li>
                                <li><a data-filter=".maternity" href="javascript:void(0)">Maternity</a></li>
                                <li><a data-filter=".skin-care" href="javascript:void(0)">Skin Care</a></li>
                                <li><a data-filter=".dental" href="javascript:void(0)">Dental</a></li>
                            </ul>
                        </div>
                        <div class="careplus-gallery careplus-plane-gallery careplus-plane-gallery-filtrable">
                            <ul class="row">
                                <li class="col-md-3 element-item maternity skin-care">
                                    <figure>
                                        <a href="{{ ('extra-images/modern-gallery-img1.jpg') }}"><img src="{{asset ('extra-images/modern-gallery-img1.jpg') }}" alt=""></a>
                                        <span></span>
                                        <figcaption>
                                            <a data-fancybox-group="group" href="{{ ('extra-images/modern-gallery-img1.jpg') }}" class="fancybox fa fa-arrows"></a>
                                            <h6>Lorem ipsum dolo si amet, consect</h6>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li class="col-md-3 element-item skin-care">
                                    <figure>
                                        <a href="{{ ('extra-images/modern-gallery-img2.jpg') }}"><img src="{{asset ('extra-images/modern-gallery-img2.jpg') }}" alt=""></a>
                                        <span></span>
                                        <figcaption>
                                            <a data-fancybox-group="group" href="{{ ('extra-images/modern-gallery-img2.jpg') }}" class="fancybox fa fa-arrows"></a>
                                            <h6>Lorem ipsum dolo si amet, consect</h6>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li class="col-md-3 element-item dental pediatrics">
                                    <figure>
                                        <a href="{{ ('extra-images/modern-gallery-img3.jpg') }}"><img src="{{asset ('extra-images/modern-gallery-img3.jpg') }}" alt=""></a>
                                        <span></span>
                                        <figcaption>
                                            <a data-fancybox-group="group" href="{{ ('extra-images/modern-gallery-img3.jpg') }}" class="fancybox fa fa-arrows"></a>
                                            <h6>Lorem ipsum dolo si amet, consect</h6>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li class="col-md-3 element-item skin-care dental maternity">
                                    <figure>
                                        <a href="{{ ('extra-images/modern-gallery-img4.jpg') }}"><img src="{{asset ('extra-images/modern-gallery-img4.jpg') }}" alt=""></a>
                                        <span></span>
                                        <figcaption>
                                            <a data-fancybox-group="group" href="{{ ('extra-images/modern-gallery-img4.jpg') }}" class="fancybox fa fa-arrows"></a>
                                            <h6>Lorem ipsum dolo si amet, consect</h6>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li class="col-md-3 element-item pediatrics skin-care">
                                    <figure>
                                        <a href="extra-images/modern-gallery-img5.jpg"><img src="{{asset ('extra-images/modern-gallery-img5.jpg') }}" alt=""></a>
                                        <span></span>
                                        <figcaption>
                                            <a data-fancybox-group="group" href="{{ ('extra-images/modern-gallery-img5.jpg') }}" class="fancybox fa fa-arrows"></a>
                                            <h6>Lorem ipsum dolo si amet, consect</h6>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li class="col-md-3 element-item dental">
                                    <figure>
                                        <a href="extra-images/modern-gallery-img6.jpg"><img src="{{asset ('extra-images/modern-gallery-img6.jpg') }}" alt=""></a>
                                        <span></span>
                                        <figcaption>
                                            <a data-fancybox-group="group" href="{{ ('extra-images/modern-gallery-img6.jpg') }}" class="fancybox fa fa-arrows"></a>
                                            <h6>Lorem ipsum dolo si amet, consect</h6>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li class="col-md-3 element-item pediatrics">
                                    <figure>
                                        <a href="extra-images/modern-gallery-img7.jpg"><img src="{{asset ('extra-images/modern-gallery-img7.jpg') }}" alt=""></a>
                                        <span></span>
                                        <figcaption>
                                            <a data-fancybox-group="group" href="{{ ('extra-images/modern-gallery-img7.jpg') }}" class="fancybox fa fa-arrows"></a>
                                            <h6>Lorem ipsum dolo si amet, consect</h6>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li class="col-md-3 element-item maternity pediatrics">
                                    <figure>
                                        <a href="extra-images/modern-gallery-img8.jpg"><img src="{{asset ('extra-images/modern-gallery-img8.jpg') }}" alt=""></a>
                                        <span></span>
                                        <figcaption>
                                            <a data-fancybox-group="group" href="extra-images/modern-gallery-img8.jpg" class="fancybox fa fa-arrows"></a>
                                            <h6>Lorem ipsum dolo si amet, consect</h6>
                                        </figcaption>
                                    </figure>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--// Main Section \\-->

        <!--// Main Section \\-->
        <div class="careplus-main-section tab-color">
            <div class="careplus-tabs-thumb">
                <div class="careplus-images-thumb-layer"><span><img src="{{asset ('extra-images/tabs-images-2.jpg') }}" alt=""></span></div>
                <div class="careplus-images-thumb-layer"><span><img src="{{asset ('extra-images/tabs-images-4.jpg') }}" alt=""></span></div>
                <div class="careplus-images-thumb-layer"><span><img src="{{asset ('extra-images/tabs-images-3.jpg') }}" alt=""></span></div>
                <div class="careplus-images-thumb-layer"><span><img src="{{asset ('extra-images/tabs-images-1.jpg') }}" alt=""></span></div>
                <div class="careplus-images-thumb-layer"><span><img src="{{asset ('extra-images/tabs-images-5.jpg') }}" alt=""></span></div>
            </div>
            <div class="careplus-tab-color">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="careplus-tab-wrap">
                                <div class="careplus-content-post-title">
                                    <h2>Our Departments</h2>
                                    <span><i class="icon-tool5"></i></span>
                                </div>
                                <div class="careplus-tabs-list">
                                    <div class="careplus-images-list-layer"><span><i class="icon-medical-3"></i></span></div>
                                    <div class="careplus-images-list-layer"><span><i class="icon-medical-4"></i></span></div>
                                    <div class="careplus-images-list-layer"><span><i class="icon-eye3"></i></span></div>
                                    <div class="careplus-images-list-layer"><span><i class="icon-medical-5"></i></span></div>
                                    <div class="careplus-images-list-layer"><span><i class="icon-medical-6"></i></span></div>
                                </div>
                                <div class="careplus-tabs-text">
                                    <div class="careplus-images-thumb-layer">
                                        <h4>Kidney Transplant</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et elementum nulla, eu placerat felis. Etiam tin orci lacus, id varius dolor fermentum sit amet. Morbi consectetur ante odio, at vestibulum nibh fringilla id rttitor nunc at leo porttitor mattis.</p>
                                        <p>Aliquam in elit vel eros tincidunt pulvinar sit amet eu justo. Nulla facilisi. Curabitur ultrices ligula eu libero entesque feugiat. Etiam rhoncus leo in ligula egestas aliquam.</p>
                                        <a href="404.html" class="careplus-readmore-btn">Book Appointment <span></span></a>
                                    </div>
                                    <div class="careplus-images-thumb-layer">
                                        <h4>Dental Care</h4>
                                        <p>Aliquam in elit vel eros tincidunt pulvinar sit amet eu justo. Nulla facilisi. Curabitur ultrices ligula eu libero entesque feugiat. Etiam rhoncus leo in ligula egestas aliquam.</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et elementum nulla, eu placerat felis. Etiam tin orci lacus, id varius dolor fermentum sit amet. Morbi consectetur ante odio, at vestibulum nibh fringilla id rttitor nunc at leo porttitor mattis.</p>
                                        <a href="404.html" class="careplus-readmore-btn">Book Appointment <span></span></a>
                                    </div>
                                    <div class="careplus-images-thumb-layer">
                                        <h4>Ophthalmology</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et elementum nulla, eu placerat felis. Etiam tin orci lacus, id varius dolor fermentum sit amet. Morbi consectetur ante odio, at vestibulum nibh fringilla id rttitor nunc at leo porttitor mattis.</p>
                                        <p>Aliquam in elit vel eros tincidunt pulvinar sit amet eu justo. Nulla facilisi. Curabitur ultrices ligula eu libero entesque feugiat. Etiam rhoncus leo in ligula egestas aliquam.</p>
                                        <a href="404.html" class="careplus-readmore-btn">Book Appointment <span></span></a>
                                    </div>
                                    <div class="careplus-images-thumb-layer">
                                        <h4>Orthopaedics Specialist</h4>
                                        <p>Aliquam in elit vel eros tincidunt pulvinar sit amet eu justo. Nulla facilisi. Curabitur ultrices ligula eu libero entesque feugiat. Etiam rhoncus leo in ligula egestas aliquam.</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et elementum nulla, eu placerat felis. Etiam tin orci lacus, id varius dolor fermentum sit amet. Morbi consectetur ante odio, at vestibulum nibh fringilla id rttitor nunc at leo porttitor mattis.</p>
                                        <a href="404.html" class="careplus-readmore-btn">Book Appointment <span></span></a>
                                    </div>
                                    <div class="careplus-images-thumb-layer">
                                        <h4>Gastroenterologist</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et elementum nulla, eu placerat felis. Etiam tin orci lacus, id varius dolor fermentum sit amet. Morbi consectetur ante odio, at vestibulum nibh fringilla id rttitor nunc at leo porttitor mattis.</p>
                                        <p>Aliquam in elit vel eros tincidunt pulvinar sit amet eu justo. Nulla facilisi. Curabitur ultrices ligula eu libero entesque feugiat. Etiam rhoncus leo in ligula egestas aliquam.</p>
                                        <a href="404.html" class="careplus-readmore-btn">Book Appointment <span></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="careplus-department-counter">
                <ul>
                    <li>
                        <i class="icon-social10"></i>
                        <h6><span id="word-count1">64</span> Specialist Doctors</h6>
                    </li>
                    <li>
                        <i class="icon-social-1"></i>
                        <h6><span id="word-count2">95</span> Happy Patients</h6>
                    </li>
                    <li>
                        <i class="icon-construction"></i>
                        <h6><span id="word-count3">28</span> Rooms With Beds</h6>
                    </li>
                    <li>
                        <i class=" icon-cup"></i>
                        <h6><span id="word-count4">09</span> Awards Winnings</h6>
                    </li>
                </ul>
            </div>
        </div>
        <!--// Main Section \\-->

        <!--// Main Section \\-->
        <div class="careplus-main-section careplus-testimonial-full">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="careplus-fancy-title">
                            <h2>Client Testimonials</h2>
                            <span><small></small><i class="icon-tool5"></i></span>
                        </div>
                        <div class="careplus-testimonial">
                            <ul class="row">
                                <li class="col-md-4">
                                    <div class="careplus-testimonial-wrap">
                                        <i class="fa fa-quote-right"></i>
                                        <figure><img src="{{asset ('extra-images/testimonial-img1.jpg') }}" alt=""></figure>
                                        <div class="careplus-testimonial-text">
                                            <h6><a href="404.html">Hank Morrison</a></h6>
                                            <span>Heart Patient</span>
                                            <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et elementum nulla eu placerat felis” </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-4">
                                    <div class="careplus-testimonial-wrap">
                                        <i class="fa fa-quote-right"></i>
                                        <figure><img src="{{asset ('extra-images/testimonial-img2.jpg') }}" alt=""></figure>
                                        <div class="careplus-testimonial-text">
                                            <h6><a href="404.html">Gloria Priston</a></h6>
                                            <span>Surgery Doctor</span>
                                            <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et elementum nulla eu placerat felis” </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-4">
                                    <div class="careplus-testimonial-wrap">
                                        <i class="fa fa-quote-right"></i>
                                        <figure><img src="{{asset ('extra-images/testimonial-img3.jpg') }}" alt=""></figure>
                                        <div class="careplus-testimonial-text">
                                            <h6><a href="404.html">Jancie Lee</a></h6>
                                            <span>Heart Patient</span>
                                            <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et elementum nulla eu placerat felis” </p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--// Main Section \\-->

        <!--// Main Section \\-->
        <div class="careplus-main-section careplus-partner-full">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="careplus-fancy-title">
                            <h2>Our Partners</h2>
                            <span><small></small><i class="icon-tool5"></i></span>
                        </div>
                        <div class="careplus-partners">
                            <ul>
                                <li>
                                    <figure><a href="404.html"><img src="{{asset ('extra-images/partner-img1.png') }}" alt=""></a> <span>Happy Client</span></figure>
                                </li>
                                <li>
                                    <figure><a href="404.html"><img src="{{asset ('extra-images/partner-img2.png') }}" alt=""></a> <span>Happy Client</span></figure>
                                </li>
                                <li>
                                    <figure><a href="404.html"><img src="{{asset ('extra-images/partner-img3.png') }}" alt=""></a> <span>Happy Client</span></figure>
                                </li>
                                <li>
                                    <figure><a href="404.html"><img src="{{asset ('extra-images/partner-img4.png') }}" alt=""></a> <span>Happy Client</span></figure>
                                </li>
                                <li>
                                    <figure><a href="404.html"><img src="{{ asset('extra-images/partner-img3.png') }}" alt=""></a> <span>Happy Client</span></figure>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--// Main Section \\-->

    </div>
    <!--// Main Content \\-->



{% endblock %}

