<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}CarePlus Home Page{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet">
        <link href="{{ asset('css/font-awesome.css') }}" rel="stylesheet">
        <link href="{{ asset('css/flaticon.css') }}" rel="stylesheet">
        <link href="{{ asset('css/slick-slider.css') }}" rel="stylesheet">
        <link href="{{ asset('css/fancybox.css') }}" rel="stylesheet">
        <link href="{{ asset('style.css') }}" rel="stylesheet">
        <link href="{{ asset('css/color.css') }}" rel="stylesheet">
        <link href="{{ asset('css/responsive.css') }}" rel="stylesheet">

    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>


<!--// Header \\-->
<header id="careplus-header" class="careplus-header-one">

    <!--// Main Header \\-->
    <div class="careplus-main-header">
        <div class="container">
            <div class="row">
                <aside class="col-md-3"><a href="index.html" class="careplus-logo"><img src="{{asset ('images/logo.png') }}" alt=""></a></aside>
                <aside class="col-md-9">
                    <ul class="careplus-infolist">
                        <li>
                            <i class="careplus-bgcolor-two fa fa-envelope"></i>
                            <a href="mailto:yourdomain@name.com">hello@health.com</a>
                            <a href="mailto:yourdomain@name.com">info@medical.com</a>
                        </li>
                        <li>
                            <i class="careplus-bgcolor-two fa fa-clock-o"></i>
                            <span>9:00 am - 12:00 am</span>
                            <span>7:00 pm - 10:00 pm</span>
                        </li>
                        <li>
                            <i class="careplus-bgcolor-two fa fa-map-marker"></i>
                            <span>2925 Swick Hill Street, lotte, NC 28202</span>
                        </li>
                    </ul>
                    {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <a href="{{ path ('fos_user_security_login') }}" class="careplus-booking-btn careplus-bgcolor-two">Login</a>
                      <a href="{{ path ('fos_user_registration_register') }}" class="careplus-booking-btn careplus-bgcolor-two">Register</a>
                    {% else %}
                        <a href="{{ path ('fos_user_security_logout') }}" class="careplus-booking-btn careplus-bgcolor-two">Logout</a>

                    {% endif %}
                </aside>
            </div>
        </div>
    </div>
    <!--// Main Header \\-->

    <!--// Navigation Section \\-->
    <div class="careplus-navigation-section careplus-bgcolor">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="careplus-navinner">
                        <nav class="navbar navbar-default">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="true">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li class="active"><a href="{{ path ('homepage') }}">Home</a></li>
                                    <li><a href="{{ path ('Doctor') }}">Doctor & Pharmacy</a>

                                    </li>
                                    <li><a href="{{ path ('Blog') }}">Blogs</a>

                                    </li>
                                    <li class="careplus-megamenu-li"><a href="{{ path ('Events') }}">Events</a>

                                    </li>
                                    <li><a href="{{ path('fos_user_profile_show') }}">Profile</a>

                                    </li>
                                    <li><a href="{{ path ('Shop') }}">Our Shop</a>

                                    </li>
                                    <li class="careplus-megamenu-li"><a href="{{ path('Contact') }}">Contact us</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                        <ul class="careplus-user-list">
                            <li><a href="#" class="careplus-color-two fa fa-search" data-toggle="modal" data-target="#searchmodal"></a></li>
                            <li><a href="#" class="careplus-color-two fa fa-shopping-cart"></a>
                                <div class="careplus-cart-box"> <p>No products in the cart.</p> </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--// Navigation Section \\-->







</header>





{% block body %}
    {% block fos_user_content %}
    {% endblock fos_user_content %}
{% endblock %}




<footer id="careplus-footer" class="careplus-footer-one">
    <span class="careplus-footer-transparent"></span>
    <!--// Footer Widget \\-->
    <div class="careplus-footer-widget">
        <div class="container">
            <div class="row">
                <!--// Widget Contact Info \\-->
                <aside class="col-md-4 widget widget_contact_info">
                    <a href="index.html" class="footer-logo"><img src="{{asset ('images/footer-logo.png') }}" alt=""></a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisci elit. Sed et elementum nulla, eu placerat felis. Et mtin orci lacus, id varius.</p>
                    <ul>
                        <li>
                            <h6>Call Us At:</h6>
                            <span>+123 45 678 - (923) 987 65 432</span>
                        </li>
                        <li>
                            <h6>Mail Us At:</h6>
                            <a href="mailto:yourdomain@name.com">hello@care.com - info@exam.com</a>
                        </li>
                        <li>
                            <h6>Our Location:</h6>
                            <span>2925 Swick Hill Street, lotte, NC </span>
                        </li>
                    </ul>
                </aside>
                <!--// Widget Contact Info \\-->

                <!--// Widget Useful Link \\-->
                <aside class="col-md-4 widget widget_useful_link">
                    <h2 class="careplus-footer-title">Useful Links</h2>
                    <ul>
                        <li><a href="404.html">Dental</a></li>
                        <li><a href="404.html">Cardiology</a></li>
                        <li><a href="404.html">Nuclear Magnetic</a></li>
                        <li><a href="404.html">Hourly Care</a></li>
                        <li><a href="404.html">Pregnancy</a></li>
                        <li><a href="404.html">Respite Care</a></li>
                        <li><a href="404.html">For Disabled</a></li>
                        <li><a href="404.html">Insurance Claim</a></li>
                        <li><a href="404.html">Prostheses</a></li>
                        <li><a href="404.html">Patient Reports</a></li>
                        <li><a href="404.html">Traumatology</a></li>
                        <li><a href="404.html">Appointment</a></li>
                    </ul>
                </aside>
                <!--// Widget Useful Link \\-->

                <!--// Widget Newsletter \\-->
                <aside class="col-md-4 widget widget_newsletter">
                    <h2 class="careplus-footer-title">Our Newsletter</h2>
                    <p>Nunc ut volutpat ex. Morbi risus elit, mattis in mi ne mollis blandit erat.</p>
                    <form>
                        <ul>
                            <li><input value="Your Name" onblur="if(this.value == '') { this.value ='Your Name'; }" onfocus="if(this.value =='Your Name') { this.value = ''; }" tabindex="0" type="text"></li>
                            <li><input value="Your Email" onblur="if(this.value == '') { this.value ='Your Email'; }" onfocus="if(this.value =='Your Email') { this.value = ''; }" tabindex="0" type="email"></li>
                            <li><label><input type="submit" value="Subscribe"><span></span></label></li>
                        </ul>
                    </form>
                </aside>
                <!--// Widget Newsletter \\-->

            </div>
        </div>
    </div>
    <!--// Footer Widget \\-->

    <!--// Copy Right \\-->
    <div class="careplus-copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p><i class="fa fa-copyright"></i> 2017, All Right Reserved - by <a href="index-html.html">EyeCix</a></p>
                    <a href="#" class="careplus-back-top"><i class="fa fa-angle-up"></i></a>
                    <ul class="careplus-footer-social">
                        <li><a href="https://www.facebook.com/" class="fa fa-facebook-square"></a></li>
                        <li><a href="https://twitter.com/login" class="fa fa-twitter-square"></a></li>
                        <li><a href="https://pk.linkedin.com/" class="fa fa-linkedin-square"></a></li>
                        <li><a href="https://plus.google.com/" class="fa fa-google-plus-square"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--// Copy Right \\-->


</footer>
<!--// Footer \\-->

<div class="clearfix"></div>
</div>
<!--// Main Wrapper \\-->

<!-- Modal -->
<div class="modal fade searchmodal" id="searchmodal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-body">
            <a href="#" class="careplus-close-btn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
            <form>
                <input type="text" value="Type Your Keyword" onblur="if(this.value == '') { this.value ='Type Your Keyword'; }" onfocus="if(this.value =='Type Your Keyword') { this.value = ''; }">
                <input type="submit" value="">
                <i class="fa fa-search"></i>
            </form>
        </div>
    </div>
</div>
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('script/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('script/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('script/slick.slider.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('script/isotope.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('script/jquery.countdown.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('script/fancybox.pack.js') }}"></script>
    <script type="text/javascript" src="{{ asset('script/progressbar.js') }}"></script>
    <script type="text/javascript" src="{{ asset('script/counter.js') }}"></script>
    <script type="text/javascript" src="{{ asset('script/functions.js') }}"></script>
{% endblock %}

</body>
</html>
